<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll" style="margin-left: -15px;">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="margin-right: 0px;">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
				<span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" style="padding-left: 0px;margin-left: 0px;" href="/">
            {{ .Site.Title }}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
				{{ if isset .Site.Params "project_url" }}
				<li>
				  <a class="page-scroll" href="{{ .Site.Params.project_url }}">
                    Github
                  </a>
                </li>
				{{ end }} 
				{{ if isset .Site.Params "author_url" }}
				<li>
					<a class="page-scroll" href="{{ .Site.Params.author_url }}">
                    {{ .Site.Params.author_name }}
					</a>
                </li>
				{{ end }} 
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
